#canvas-container {
    width: 100%;
    text-align:center;
 }
 canvas {
    display: inline;
    border: 1px solid black;
    background: url(Fon.gif);
 }
#restart1 {
   position: relative;
   left: 51%;
   transform: translate(-50%, 0);
}
